* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../kitcheningResponsiveYForms_Base/img/bg-body.png);
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.navegador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.navegador1 {
    margin: 20px;
}

.logo0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.logo {
    margin: 30px;
    border-radius: 50%;
}

.cajapadre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 1180px;

}

.cajas a {
    color: white;
}

.cajas {
    background-color: #444;
    padding: 4px 16px;
    color: white;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 30px;
}

main {}

.img-banner {
    width: 1180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.img-banner img {
    width: 1180px;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1180px;
    margin: 0;
    width: 1180px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 30px;
}



article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 380px;

}

.imagen {
    width: 380px;
}

.vermas {
    background-color: #444;
    color: white;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
}

.final {
    margin: 10px;
    color: white;
    border-right: solid 2px white;
    padding: 5px;
}

.final a {
    margin: 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

footer ul {

    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(200, 0, 0);
    border-radius: 20px 20px 0 0;
    width: 1180px;
    margin-top: 30px;
}

.contenedor {
    width: 350px;
    background-color: gray;

}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        width: 768px;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .img-banner {
        width: 768px;
        justify-content: center;        
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20vh;
        width: 768px;
        justify-content: center;
        background-color: unset;
        border-radius: 0;
    }

    .final {
        border-right: solid 0;
        background-color: #444;
        align-self: center;
        align-items: center;
        width: 100%;
        margin: 0;
        width: 768px;

    article {
            width: 768px;
        }
    }

    .final1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cajapadre {
        display: flex;
        padding: 0;
        flex-direction: column;

    }

    .cajas {
        margin: 0;


    }



}

@media (max-width: 420px) {
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        align-self: center;
        margin: 0;
        padding: 0;
        width: 100%;
        width: 420px;
        

    }

    .logo {
        justify-content: center;
    }

    .img-banner {
        height: 0;
        width: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20vh;
        justify-content: center;
        background-color: unset;
        border-radius: 0;
    }

    .final {
        border-right: solid 0;
        background-color: #444;
        align-self: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .final1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cajapadre {
        display: block;
        padding: 0;
        height: 0;
        width: 0;
        background-color: none;
    }

    .cajas {
        height: 0;
        width: 0;
        color: none;
        background-color: none;
    }

    .navegador a {
        justify-content: space-around;
    }

    .navegador {
        justify-content: space-around;
    }
}