* {
    box-sizing: border-box;
}

body {
    background-image: url(../kitcheningResponsiveYForms_Base/img/bg-body.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navegador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.navegador1 {
    margin: 20px;
}
.logo0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.logo {
    margin: 30px;
    border-radius: 180px;
}
.cajapadre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     justify-content: center;
     align-items: center;
    width: 1180px;
}
.cajas {
    background-color: #444;
    height: 50px;
    width: 180px;
    color: white;
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
header {
    margin: 30px;
}
.banner {
    margin: 20px;
    width: 1180px;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1180px;
    margin: 0;

}


article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 15px;
    width: 350px;
}

.imagen {
    width: 380px;
}

.vermas {
    background-color: #444;
    color: white;
    margin: 0;
}

.final {
    margin: 10px;
    color: white;
}

footer  {
    background-color: rgb(200, 0, 0);
    width: 1180px;
    display: flex;
    justify-content: center;
}
.contenedor {width: 350px;}
